body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('images/danceFloor.jpg');
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.title, .addSuperHeroButton{
  padding:5px 12px;
  float:right;
}
.title, .addExplosiveButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  /* height: 100px;
  width: 100px; */
  position:absolute;
  /* background-image: url('images/dancer.jpg');
  background-size: cover; */
}